[submodule "SeshatAIFE"]
	path = SeshatAIFE
	url = https://github.com/Adrian55Stack/SeshatAIFE
[submodule "SeshatAIBE"]
	path = SeshatAIBE
	url = https://github.com/Adrian55Stack/SeshatAIBE
[submodule "SeshatAIDB"]
	path = SeshatAIDB
	url = https://github.com/Adrian55Stack/SeshatAIDB.git
